.DS_Store
.cronenv
/.*-history*
/.*_history*
/.Rhistory
/.Trash
/.Xauthority
/.apdisk
/.aptitude/config
/.aspell*
/.bashrc_local
/.bazaar
/.bzr.log
/.cabal
/.cache/motd.legal-displayed
/.config/fish
/.cups
/.cvspass
/.darcs
/.dbshell
/.dropbox
/.dvdcss
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.gem
/.ghc
/.gvimrc
/.heroku/credentials
/.htoprc
/.idlerc
/.ido.last
/.ipe
/.ipython
/.lein
/.lesshst
/.links2
/.local
/.m2
/.matplotlib
/.mindmeister2md
/.npm
/.nx
/.offlineimap
/.offlineimaprc
/.oh-my-zsh/
/.pip
/.policyguirc
/.profile_local
/.pylint.d
/.qt
/.recentf
/.recentf~
/.rvm
/.screen_env
/.slime
/.smex-items
/.ssh/authorized_keys
/.ssh/config
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/known_hosts
/.subversion/README.txt
/.subversion/auth
/.subversion/servers
/.sudo_as_admin_successful
/.vim
/.vim-fuf-data/VERSION
/.vimgolf/config.json
/.viminfo
/.vimrc
/.zcompdump
/.zsh-update
/.zshenv_local
/.zshrc_local
/115
/325
/345
/345projects
/455
/705
/Applications
/Applications (Parallels)
/Coe
/Desktop
/Development
/Documents
/Downloads
/Dropbox
/ILOG
/Library
/Movies
/Music
/Papers
/Pictures
/Public
/Sites
/Thesis
/avogadro
/backup
/bin/kod
/bin/lein
/bin/mate
/coechive
/dumps
/git
/local
/logs
/newihc
/public_html
/repos
/share
/src
/tmp
/uihc
/usr
/webapps
/.pythonbrew
