.DS_Store
.cronenv
/.heroku
/.*-history*
/.*_history*
/.Rhistory
/.Trash
/.Xauthority
/.apdisk
/.aptitude/config
/.aspell*
/.bashrc_local
/.bazaar
/.bzr.log
/.cabal
/.cache/motd.legal-displayed
/.config/fish
/.config/hub
/.cookies.txt
/.cups
/.cvspass
/.darcs
/.dbshell
/.dropbox
/.dvdcss
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.gem
/.ghc
/.gitk
/.gvimrc
/.heroku/credentials
/.htoprc
/.idlerc
/.ido.last
/.ievms
/.ipe
/.ipython
/.jline-reply.history
/.lein
/.lesshst
/.links2
/.local
/.m2
/.matplotlib
/.mindmeister2md
/.netrc
/.npm
/.nx
/.octave_hist
/.offlineimap
/.offlineimaprc
/.oh-my-zsh/
/.pip
/.policyguirc
/.profile_local
/.pylint.d
/.pythonz
/.qgis
/.qt
/.recentf
/.recentf~
/.rvm
/.screen_env
/.serverauth.15945
/.serverauth.79491
/.slime
/.smex-items
/.ssh/authorized_keys
/.ssh/config
/.ssh/id_rsa
/.ssh/id_rsa.pub
/.ssh/known_hosts
/.subversion/README.txt
/.subversion/auth
/.subversion/servers
/.sudo_as_admin_successful
/.tilemill/config.json
/.vim
/.vim-fuf-data/VERSION
/.vimgolf/config.json
/.viminfo
/.vimrc
/.virtualenv
/.zcompdump
/.zsh-update
/.zshenv_local
/.zshrc_local
/115
/325
/345
/345projects
/455
/705
/Applications
/Applications (Parallels)
/Coe
/Desktop
/Development
/Documents
/Downloads
/Dropbox
/ILOG
/Library
/Movies
/Music
/Papers
/Pictures
/Public
/Sites
/Thesis
/avogadro
/backup
/bin/kod
/bin/lein
/bin/mate
/coechive
/data
/dumps
/git
/local
/newihc
/public_html
/repos
/share
/src
/tmp
/uihc
/usr
/webapps
/114
/.gitlocal
/.bookmarks.html
/.jline-clojure.main.history
