.DS_Store
/local
/.npm
/.*-history*
/.*_history*
/.Trash
/.Xauthority
/.aspell*
/.bazaar
/.bzr.log
/.cabal
/.config/fish
/.cups
/.darcs
/.dropbox
/.emacs.d
/.erlang.cookie
/.eshell
/.fontconfig
/.gem
/.ghc
/.gvimrc
/.htoprc
/.idlerc
/.ipe
/.lein
/.lesshst
/.local
/.m2
/.matplotlib
/.pip
/.pylint.d
/.rvm
/.ssh/id_dsa
/.ssh/id_dsa.pub
/.ssh/known_hosts
/.subversion/README.txt
/.subversion/servers
/.vim
/.viminfo
/.vimrc
/.virtualenv
/Applications
/Applications (Parallels)
/Desktop
/Development
/Documents
/Downloads
/Dropbox
/ILOG
/Library
/Movies
/Music
/Papers
/Pictures
/Public
/Sites
/Thesis
/bin/mate
/src
/tmp
/uihc
/.ido.last
/.recentf
/bin/kod
/.cvspass
/.smex-items
/.ssh/authorized_keys
/.screen_env
/backup
/dumps
/logs
/git
/webapps
/.vim-fuf-data/VERSION
/.slime
/.oh-my-zsh/
/.mindmeister2md
/.policyguirc
/.ssh/config
/.bashrc_local
/.zcompdump
/.zsh-update
/.dvdcss
/.zshrc_local
/115
/325
/705
/Coe
/345
/455
/.heroku/credentials
/.cache/motd.legal-displayed
/.sudo_as_admin_successful
/.aptitude/config
/bin/lein
